{% extends 'adminpannel/base.html' %} {% block body %} {% include
'adminpannel/loader.html' %}
<div id="main-wrapper">
  <!-- header -->
  {% include 'adminpannel/header.html' %}
  <!-- #/ header -->
  <!-- sidebar -->
  {% include 'adminpannel/sidebar.html' %}
  <!-- #/ sidebar -->
  <div class="content-body">
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-6 col-xl-6">
                    <div class="card">
                        <div class="card-body">
                            <div class="active-member">
                                <div class="table-responsive">
                                    <table class="table table-xs">
                                        <thead>
                                            <tr>
                                                <th>Top Active Members</th>
                                                <th>Views</th>
                                                <th>Country</th>
                                                <th>Status</th>
                                                <th>Comments</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img src="/static/assets/images/avatar/1.jpg"
                                                        class="w-40px rounded-circle m-r-10" alt="">Arden Karn
                                                </td>
                                                <td><span>125</span>
                                                </td>
                                                <td>United States</td>
                                                <td><i class="fa fa-circle-o text-success f-s-12 m-r-10"></i> Active
                                                </td>
                                                <td><span>84</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/static/assets/images/avatar/2.jpg"
                                                        class="w-40px rounded-circle m-r-10" alt="">Arden Karn
                                                </td>
                                                <td><span>547</span>
                                                </td>
                                                <td>Canada</td>
                                                <td><i class="fa fa-circle-o text-success f-s-12 m-r-10"></i> Active
                                                </td>
                                                <td><span>36</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/static/assets/images/avatar/3.jpg"
                                                        class="w-40px rounded-circle m-r-10" alt="">Arden Karn
                                                </td>
                                                <td><span>557</span>
                                                </td>
                                                <td>Germany</td>
                                                <td><i class="fa fa-circle-o text-danger f-s-12 m-r-10"></i> Inactive
                                                </td>
                                                <td><span>55</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/static/assets/images/avatar/4.jpg"
                                                        class="w-40px rounded-circle m-r-10" alt="">Arden Karn
                                                </td>
                                                <td><span>753</span>
                                                </td>
                                                <td>England</td>
                                                <td><i class="fa fa-circle-o text-success f-s-12 m-r-10"></i> Active
                                                </td>
                                                <td><span>45</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/static/assets/images/avatar/5.jpg"
                                                        class="w-40px rounded-circle m-r-10" alt="">Arden Karn
                                                </td>
                                                <td><span>453</span>
                                                </td>
                                                <td>China</td>
                                                <td><i class="fa fa-circle-o text-danger f-s-12 m-r-10"></i> Inactive
                                                </td>
                                                <td><span>63</span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img src="/static/assets/images/avatar/6.jpg"
                                                        class="w-40px rounded-circle m-r-10" alt="">Arden Karn
                                                </td>
                                                <td><span>658</span>
                                                </td>
                                                <td>Japan</td>
                                                <td><i class="fa fa-circle-o text-success f-s-12 m-r-10"></i> Active
                                                </td>
                                                <td><span>38</span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> -->
        <div class="col-lg-12 col-xl-12">
          <div class="card">
            <div class="card-body">
              <div class="text-center">Add Product</div>
              <hr />
              <form
                action="{% url 'addproduct' %}"
                method="post"
                id="productForm"
              >
                {% csrf_token %}
                <div>
                  <label for=""
                    >Product Title <span class="text-danger">*</span></label
                  >
                  <input
                    type="text"
                    class="form-control"
                    name="title"
                    required
                  />
                </div>
                <hr />
                <div class="row">
                  <div class="mx-2">
                    <label for=""
                      >Select Sub Category
                      <span class="text-danger">*</span></label
                    >
                    <select
                      name="subcategory"
                      id=""
                      class="form-control"
                      required
                    >
                      <option value="">--select--</option>
                      {% for c in sub_category %}
                      <option value="{{c.uid}}">{{c.category_name}}</option>
                      {% endfor %}
                    </select>
                    <!-- <input type="text" class="form-control" name="subcategory"> -->
                  </div>
                  <div class="mx-2">
                    <label for=""
                      >Select Brands <span class="text-danger">*</span></label
                    >
                    <select name="brands" id="" class="form-control" required>
                      <option value="">--select--</option>
                      {% for c in brands %}
                      <option value="{{c.uid}}">{{c.brands_name}}</option>
                      {% endfor %}
                    </select>
                    <!-- <input type="text" class="form-control" name="subcategory"> -->
                  </div>
                  <div class="mx-2">
                    <label for=""
                      >Mrp Price <span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="mrp_price"
                      min="0"
                      step="0.01"
                      required
                    />
                  </div>
                  <div class="mx-2">
                    <label for=""
                      >Discounted Price
                      <span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="dis_price"
                      min="0"
                      step="0.01"
                      required
                    />
                  </div>
                </div>
                <hr />
                <div class="row">
                  <div class="mx-2">
                    <label for=""
                      >Length (cm) <span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="length"
                      min="0"
                      step="0.01"
                      required
                    />
                  </div>
                  <div class="mx-2">
                    <label for=""
                      >Breadth (cm) <span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="breadth"
                      min="0"
                      step="0.01"
                      required
                    />
                  </div>
                  <div class="mx-2">
                    <label for=""
                      >Height (cm) <span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="height"
                      min="0"
                      step="0.01"
                      required
                    />
                  </div>
                  <div class="mx-2">
                    <label for=""
                      >Weight (gram) <span class="text-danger">*</span></label
                    >
                    <input
                      type="number"
                      class="form-control"
                      name="weight"
                      min="0"
                      step="0.01"
                      required
                    />
                  </div>
                </div>
                <hr />

                <div>
                  <label for=""
                    >Descriptions <span class="text-danger">*</span></label
                  >
                  <textarea
                    class="w-100"
                    name="desc"
                    id="editor"
                    cols="30"
                    rows="5"
                  ></textarea>
                </div>
                <hr />

                <div
                  class="d-flex justify-content-center align-item-center w-100 my-1"
                >
                  <button type="submit" class="btn btn-dark mb-2">
                    Submit
                  </button>
                </div>
              </form>
              <script>
                // Handle form submission and capture CKEditor content
                document
                  .getElementById("productForm")
                  .addEventListener("submit", function (e) {
                    // Get CKEditor instance
                    if (window.editorInstance) {
                      // Get content from CKEditor
                      const editorContent = window.editorInstance
                        .getData()
                        .trim();

                      // Validate editor content
                      if (!editorContent) {
                        e.preventDefault();
                        toastr.error("Please enter product description");
                        return false;
                      }

                      // Put content in textarea for submission
                      document.querySelector('textarea[name="desc"]').value =
                        editorContent;
                    }
                    // Allow form to submit normally
                  });
              </script>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include 'adminpannel/copywrite.html' %}
</div>
{% endblock body %}
